/* NAVBAR STARTS */

.navbar {
    /*height: 50px;*/
    background-color: black;
    /*border-bottom: solid 1px white;*/
    /*border-top: solid 1px white;*/
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    /*box-shadow: 0 8px 6px 1px black;*/
    /*transition: 5s;*/
    /*padding-bottom: 0px;*/
}

.navbar.fixed-top {
    border-bottom: none;
    /*border-top: none;*/
}

.nav-item {
    margin-right: 10px;
    margin-left: 10px;
    font-size: small;
    justify-self: center;
    text-align: center;
}

.nav-link {
    color: white;
    text-transform: uppercase;
    text-align: center;
    justify-self: center;
    align-self: center;
    border-bottom: solid 2px black;
}

.nav-link:hover {
    border-bottom: solid 2px white;
    /*font-weight: bold;*/
    color: white;
}

.ml-auto .nav-link:hover {
    border-bottom: none;
    /*font-weight: bold;*/
    color: #ff9700;
}

.active .nav-link {
    border-bottom: solid 2px #ff9700;
    font-weight: bold;
}

a.dropdown-item:focus {
    background-color: #ff9700;
}

@media (min-width: 960px) {
    .navbar-collapse {
        background-color: black;
        width: 100%;
        height: 40px;
        /*border: 1px solid white;*/
        /*height: 55px;*/
        justify-content: center;
        border-radius: 5px;
        z-index: 9;
        opacity: 0.99;
        padding: 10px;
    }
}


@media (max-width: 960px) {
    .active .nav-link {
        border-bottom: none;
        font-weight: bolder;
        background-color: white;
        color: #ff9700;
        border-radius: 5px;
    }

    .nav-link:hover {
        border-bottom: none;
        /*font-weight: bold;*/
        color: white;
        background-color: black;
        border-radius: 5px;
    }

    .navbar-collapse {
        background-color: white;
        width: 100%;
        /*height: 55px;*/
        border: 1px solid black;
        justify-content: center;
        border-radius: 5px;
        z-index: 9;
        opacity: 0.99;
        padding: 10px;
    }

    .nav-link {
        color: black;
        text-transform: uppercase;
        text-align: center;
        justify-self: center;
        align-self: center;
        font-size: large;
        border-bottom: none;
    }

    .navbar {
        padding-bottom: 10px;
    }

    .navbar-brand img {
        padding-bottom: 10px;
    }

    .navbar {
        border-bottom: none;
        border-top: none;
    }

}

.fa.fa-shopping-cart.resp {
    color: white;
    align-self: center;
    padding-bottom: 10px;
}

.fa.fa-heart-cart.resp {
    color: white;
    align-self: center;
    padding-bottom: 10px;
}


.fa.fa-navicon {
    align-self: center;
    color: white;
}

.nav-item {

}

.nav-logo-lg-xl {
    display: none;
}

.nav-logo-md-sm-xs {
    /*width: 50%;*/
}

.nav-logo-md-sm-xs img {
    /*width: 100%;*/
    padding-bottom: 0px;
    max-height: 25px;
}

.fixed-top {
    /*transition: 5s ease-in-out;*/
    border-top: 3px solid #ff9700;
}


/* NAVBAR ENDS */


.pincode {
    height: 45px;
    width: 29px;
    font-size: 25px;
    text-align: center;
    border: none;
    background-color: white;
    border-bottom: 1px solid #000000;
    color: transparent;
    outline: none;
    text-shadow: 0 0 0 #000000;
    font-weight: bold;
    margin: 0px 5px;
    padding: 5px 5px;
    border-radius: 1px;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.pincode:focus {
    background-color: #e2e2e2;
    -webkit-box-shadow: 0px 1px 0px 5px rgb(225, 225, 225);
    -moz-box-shadow: 0px 1px 0px 5px rgb(225, 225, 225);
    box-shadow: 0px 1px 0px 5px rgb(225, 225, 225);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.next-btn {
    -webkit-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
}

.next-btn:hover {
    background-color: black;
}

.card-footer-custom,
.pincode-div,
.step2-div {
    background-color: white;
    border-radius: 5px;
    padding: 20px 30px;
    border: 1px solid black;
}

.card-footer-custom button,
.card-footer-custom a,
.card-footer-custom h6 {
    padding: 5px 10px;
    font-size: 17px;
!important text-transform: capitalize;
    margin-bottom: 0px;
}

.card-footer-custom hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.step2-div input {
    font-size: x-small;
}


.step3-table {
    font-size: small;
    margin-top: 20px;
}

@media (max-width: 576px) {
    .step3-table h6 {
        font-size: x-small;
    !important;
    }

    .step3-table p {
        font-size: xx-small;
    !important;
    }

    .card-footer-custom button,
    .card-footer-custom a,
    .card-footer-custom h6 {
        padding: 5px 10px;
        font-size: 12px;
    !important text-transform: capitalize;
        margin-bottom: 0px;
    }

}

@media (max-width: 768px) {
    .step3-table h6 {
        font-size: small;
    !important;
    }

    .step3-table p {
        font-size: x-small;
    !important;
    }

}

.step3-table th {
    border: none;
}

.step3-table > thead > tr > td,
.step3-table > thead > tr > th {
    border: none;
}

.step3-table > tbody > tr > td,
.step3-table > tbody > tr > th,
.step3-table > tfoot > tr > td,
.step3-table > tfoot > tr > th,
.step3-table > thead > tr > td,
.step3-table > thead > tr > th {
    padding: 5px;
}

.step3-table > thead > tr > th {
    font-weight: bold;
}

.step3-table-div th {
    border-top: none;
    border: none;
}

.step3-table-div {
    border-radius: 5px;
    padding: 50px 30px;
}